<nav>
  <ul id="nav-bar">
    <li><a routerLink="/">Home</a></li>
    <li id="login" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Login</a></li>
    <li id="signup" *ngIf="!(isLoggedIn$ | async)"><a routerLink="/signup">Sign up</a></li>
    <li id="post-campaign" *ngIf="isLoggedIn$ | async">
      <a routerLink="/post-campaign">Post a Campaign</a>
    </li>
    <li id="logout" *ngIf="isLoggedIn$ | async">
      <span *ngIf="username$ | async as username">Welcome, {{ username }}</span>
      <a (click)="authService.logout()">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>